{% extends 'base.html' %}

{% load static %}

        {% include 'navbar.html' %}
        {% block content %}
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Our Website it's an honor to have you with us </p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify"
                        <br><br>
                        
                        Batilec is a leading electrical company that specializes in providing high-quality electrical services to residential, commercial, and industrial clients. With years of experience in the industry, we have built a reputation for delivering top-notch solutions that meet the needs of our customers.
                        
                        Mission and Vision:
                        Our mission at Batilec is to provide reliable and efficient electrical services that exceed our customers' expectations. We strive to be the go-to electrical company for all our clients' needs, delivering exceptional results with integrity and professionalism.
                        
                        Our vision is to be a trusted partner in the electrical industry, known for our commitment to excellence, innovation, and customer satisfaction. We aim to continuously improve and expand our services to meet the evolving needs of our clients.
                        
                        Core Values:
                        
                        Excellence: We are dedicated to delivering high-quality services that meet the highest standards of excellence.
                        
                        Integrity: We conduct business with honesty, transparency, and ethical practices.
                        
                        Reliability: We are committed to providing reliable and efficient solutions that our customers can depend on.
                        
                        Innovation: We embrace innovation and continuously seek new ways to improve our services and exceed customer expectations.
                        
                        Teamwork: We value collaboration and teamwork, working together to achieve our goals and deliver exceptional results.
                        
                        Team:
                        At Batilec, our team consists of highly skilled and experienced professionals who are passionate about providing exceptional electrical services. Our team members are dedicated to delivering top-notch solutions, working together to ensure the success of our projects and the satisfaction of our customers.
                        <br><br>
                    </p>
                    </div>
                </center>
            </div>
        </div>
        {% endblock %}